#main{
    width: 100%;
    background: #fff;
    #section1,#section2{
        width: 100%;
        padding: 130px 0;
        .container{
            width: 100%;
            .gap{
                width: 100%;
                .title{
                    width: 100%;
                    padding-bottom: 50px;
                    h2{
                        font-size:50px;
                        font-weight: 500;
                    }
                }
                .content{
                    width: 100%;
                    table{
                        width: 700px;
                        margin: 0 auto;
                        border-collapse: collapse;
                        thead{
                            width: 100%;
                            th{
                                font-size: 20px;
                                height: 50px;
                                border: 1px solid #ccc;
                                background: #f0f0f0;
                            }
                        }
                        tbody{  
                            width: 100%;
                            td{
                                font-size: 16px;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #ccc;
                                height: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}